@use './fonts';
@use './normalize';
@use './button';

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: block;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

:root {
    --primary-color: #000000;
  --white-color: #ffffff;
  --secondary-color: #F2BE22;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.gap-24 {
  gap: 24px;
}

